* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.html{
  background-color: #fff;
  color: #505050;
  font-family: sans-serif;
  font-weight: 300;
  font-size: 20px;
  text-rendering: optimizeLegibility;
}

/***************SECTIONONE****************/
.row{
  max-width: 1140px;
  margin: 0 auto;
}

header {
  background-image: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)), url('/freshveggies.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  background-attachment: fixed;
}
.hero-text-box{
  position: absolute;
  width: 1140px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
h1{
  margin: 0;
  color: #fff;
  font-size: 240%;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1px;
  word-spacing: 4px;

}
.btn:link, .btn:visited,input[type=submit]{
  display: inline-block;
  padding: 10px 30px;
  font-weight: 300;
  text-decoration: none;
  border-radius: 200px;
  margin-top: 20px;
  transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn-full:link,
.btn-full:visited,
 input[type=submit]{
  background-color: #e67e22;
  border: 1px solid #e67e22;
  color: #fff;
  margin-right: 15px;
}
.btn-ghost:link, .btn-ghost:visited{
  border: 1px solid #e67e22;
  color: #e67e22;
}
.btn:hover,
.btn:active,
input[type=submit]:hover,
input[type=submit]:active{
  background-color: #cf6d17;
  color: #fff;
}
.logo{
  height: 120px;
  width: auto;
  float: left;
  margin-top: 20px;
}
.main-nav{
  float: right;
  list-style: none;
  margin-top: 55px;
}
.main-nav li{
  display: inline-block;
  margin-left: 40px;
}
.main-nav li a:link,
.main-nav li a:visited{
  padding: 8px 0;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 90%;
  border-bottom: 2px solid transparent;
}
.main-nav li a:hover,
.main-nav li a:active{
  border-bottom: 2px solid #e67e22;
}
/**********************SECTIONTWO************************/
.Section-features{
  padding: 80px 0;
}
h2{
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 180%;
  word-spacing: 2px;
  text-align: center;
  margin-bottom: 30px;
}
h2:after{
  display: block;
  height: 2px;
  background-color: #e67e22;
  content: " ";
  width: 100px;
  margin: 0 auto;
  margin-top: 30px;
}
.long-copy{
  line-height: 145%;
  width: 70%;
  margin-left: 15%;
}
.section-features .long-copy{
  margin-bottom: 30px;
}
.box{
  padding: 1%;
}
h3{
  font-weight: 300;
  text-transform: uppercase;
  font-size: 110%;
  margin-bottom: 15px;
}
.box p{
  font-size: 90%;
  line-height: 145%;
}
.icon-big{
  font-size: 400%;
  display: block;
  color: #e67e22;
}
/********************SECTIONTHREE****************/
.section-meals{
  padding: 0px;
}
.meals-showcase{
  list-style: none;
  width: 100;
}
.meals-showcase li{
  display: block;
  float: left;
  width: 25%;
}
.meal-photo{
  width: 100%;
  margin: 0px;
  overflow: hidden;
  background-color: #000;
}
.meal-photo img{
  width: 100%;
  height: auto;
  transform: scale(1.15);
  transition: transform 0.5s, opacity 0.5s;
  opacity: 0.7;
}
.meal-photo img:hover{
  opacity: 1;
  transform: scale(1.04);
}
/********************SECTIONFOUR********************/
.Section-Steps{
  background-color: #f4f4f4;
  padding-top: 100px;
}
/* #h2ele{
  padding-top: 700px;

} */
#box-steps{
  margin-top: 100px
}
.steps-box:first-child{
  text-align: right;
  padding-right: 3%;

}
.steps-box:last-child{
  padding-left: 3%;
}
.app-screen{
 width: 150%;
}
.works-step{
  margin-bottom: 50px;
}
.works-step div{
  border: 2px solid #e67e22;
  display: inline-block;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  text-align: center;
  padding: 5px;
  float: left;
  font-size: 160%;
  margin-right: 25px;
  color: #e67e22;

}
.works-step:last-of-type{
  margin-bottom: 80px;
}
.btn-app img{
  height: 50px;
  width: auto;
  margin-right: 10px;
}
/************************SECTIONFIVE******************************/
.Section-Cities{
  padding-top: 100px;
  padding-bottom: 100px;
}
.box img{
  width:100%;
  height: auto;
  margin-bottom: 15px;
}
.City-Feature{
  margin-bottom: 5px;
}
/* .icon-small{
  display: inline-block;
  width:30px;
  text-align: center;
  color: #e67e22;
  line-height: 120%;
  vertical-align: middle;
  margin-top: -5px;
  margin-right: 10px;
} */
.twitterid{
  margin: 0;
}
/**************************SECTIONSIX*******************************/
.Section-testimonials{
  background-image: linear-gradient(rgba(0,0,0,.8), rgba(0, 0, 0, 0.8)), url('/back-customers.jpg');
  background-size: cover;
  color: #fff;
  background-attachment: fixed;
  padding-top: 100px;
  padding-bottom: 100px;
}
blockquote{
  padding: 2%;
  font-style: italic;
  line-height: 145%;
  position: relative;
  margin-top: 40px;

}
blockquote:before{
  content: '\201C';
  font-size: 500%;
  display: block;
  position: absolute;
  top: -3px;
  left: 5px;;
}
cite{
  font-size: 90%;
  margin-top: 25px;
  display: block;
}

cite img{
  height: 45px;
  border-radius: 50%;
  margin-right: 10px;
}
/***********************SECTIONSEVEN*********************************/
.Section-Plans{
  background-color: #f4f4f4;
  padding-top: 100px;
  padding-bottom: 100px;
}
.plan-box{
  margin-top: 15%;
  background-color: #fff;
  border-radius: 5px;
  width: 90%;
  margin-left: 5%;
  box-shadow: 0 2px 2px #efefef;
}
.plan-box div{
  padding: 15px;
  border-bottom: 1px solid #e8e8e8;
}
.plan-box div:first-child{
  background-color: #fcfcfc;
}
.plan-box div:last-child{
  text-align: center;
  border: 0;
  padding-bottom: 25px;
}
.plan-price{
  font-size: 300%;
  margin-bottom: 10px;
  font-weight: 100;
  color: #e67e22;
}
.plan-price span{
  font-size: 30%;
  font-weight: 300;
  color: #e67e22;
}
.plan-price-meal{
  font-size: 80%;

}
.plan-box ul{
  list-style: none;
}
.plan-box ul li{
  padding: 5px 0;
}
/******************************SECTIONEIGHT***************************/
.Section-Form{
  padding-top: 100px;
  padding-bottom: 100px;
}
.contact-form{
  width: 60%;
  margin: 0 auto;
}
input[type=text],
input[type=email],
select,textarea{
  width: 100%;
  padding: 7px;
  border-radius: 3px;
  border: 1px solid #ccc;

}
textarea{
  height: 100px;
}
input[type=checkbox]{
  margin: 10px 5px 10px 0;
}
*:focus{outline: none}
/******************************Footer**************************************/
.Section-Footer{
  background-color: #333;
  padding: 50px;
}
.footer-nav{
  list-style: none;
  float:left;
}

.social-links{
  list-style: none;
  float: right;
}
.footer-nav li,
.social-links li{
  display: inline-block;
  margin-right: 20px;
}
.footer-nav li:last-child,
.social-links li:last-child{
  margin-right: 0;
}
.footer-nav li a:link,
.footer-nav li a:visited,
.social-links li a:link,
.social-links li a:visited{
  text-decoration: none;
  border: 0;
  color: #888;
  transition: color 0.2s;
}
.social-links li a:link,
.social-links li a:visited{
  font-size: 180%;

}
.footer-nav li a:hover,
.footer-nav li a:active{
  color: #ddd;
}
.foot{
  color: #888;
  text-align: center;
  font-size: 90%;
  margin-top: 30px;
}
LogoTwitter{
  border: 1px solid white;
}
